@import url(https://bintvec.github.io/Themes/MoreContent2.css);

.ui-select .Select-control{
    background:rgba(0,0,0,0.5)!important;
    border-color:transparent!important
}
.ui-select .Select-menu-outer{
    background-color:rgba(0,0,0,0.5)!important;
    border-color:transparent!important;
    margin:0
}
.ui-select .Select-option{
    background:transparent!important;
    color:hsla(0,0%,100%,.6);
    margin:3px;
    border-radius:3px!important;
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
.ui-select .Select-option.is-focused{
    background:rgba(0,0,0,0.4)!important;
    color:#fff
}
.ui-select .Select-option.is-selected{
    background-color:var(--hover-color)!important
}
.ui-select .Select-option.is-selected.is-focused{
    background-color:var(--main-color)!important
}
.key-recorder-edit-icon,.has-value:not(.disabled):hover .key-recorder-edit-icon{
    opacity:0!important
}
.has-value .key-recorder-edit-icon{
    opacity:.7!important
}
.overlay-updating-note,.user-settings-games .last-played,.user-settings-games .overlay-status-text{
    color:#999!important
}
.user-settings-keybinds .ghost-pill{
    color:#f7f7f7;
    background:hsla(0,0%,100%,.1)
}
.ui-hover-card{
    padding:15px 20px!important;
    margin-bottom:5px;
    background:rgba(0,0,0,.3);
    border-color:transparent!important;
    box-shadow:none!important;
    border-radius:5px
}
.user-settings-games .game-name-input{
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
.user-settings-games .game-name-input:focus,.user-settings-games .game-name-input:hover{
    background:rgba(0,0,0,.3)!important;
    border-color:transparent!important
}
.user-settings-games .game-name-input:focus{
    border-color:var(--main-color)!important
}
.ui-hover-card.game .flex-justify-between{
    margin-right:10px
}
.ui-hover-card::before{
    display:none
}
.round-remove-button{
    top:3px!important;
    right:3px!important;
    background-color:transparent!important;
    background-size:22px;
    box-shadow:none!important;
    -webkit-filter:grayscale(1) brightness(300%);
    filter:grayscale(1) brightness(300%);
    opacity:0!important
}
.ui-hover-card:hover .round-remove-button{
    opacity:.3!important
}
.ui-hover-card:hover .round-remove-button:hover{
    opacity:.7!important
}
.user-settings-keybinds .remove-keybind{
    top:0;
    right:-20px
}
.ui-settings-notice{
    background:rgba(0,0,0,.7)!important
}
.ui-color-picker-swatch svg{
    opacity:.7;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.app a,.connecting a{
    color:var(--main-color)
}
.ui-color-picker-swatch:hover svg{
    opacity:1
}
.ui-flex.flex-horizontal > img.ui-flex-child{
    opacity:.7;
    -webkit-filter:grayscale(1);
    filter:grayscale(1)
}
.user-settings-locale .ui-flex.flex-horizontal img{
    opacity:1;
    -webkit-filter:none;
    filter:gnone
}
.ui-audit-log{
    background-color:rgba(0,0,0,.3)!important;
    border:none!important
}
.ui-audit-log.ui-audit-log-expanded .header{
    background-color:rgba(0,0,0,.3)!important
}
.ui-audit-log .divider{
    background-color:hsla(0,0%,100%,.04)!important
}
.ui-audit-log-change-details .prefix.ui-flex.type-create{
    color:var(--main-color)
}
.ui-audit-log .header{
    color:#bbb!important
}
.ui-audit-log strong{
    color:#f6f6f7!important
}
.ui-popout-list{
    background-color:rgba(0,0,0,.5)!important;
    box-shadow:none!important
}
.ui-search-bar{
    background-color:rgba(0,0,0,.3)!important
}
.ui-selectable-item.selected{
    background:var(--main-color)!important
}
.ui-selectable-item:hover{
    background:rgba(0,0,0,.3)!important
}
.prune-red-link{
    padding:0 20px;
    background:#a93d3d;
    color:#fff!important;
    text-shadow:none!important;
    border-radius:3px;
    opacity:1!important;
    -webkit-transition:all .3s ease-in-out!important;
    transition:all .3s ease-in-out!important
}
.prune-red-link:hover{
    background:#f04747
}
.ui-modal{
    background:rgba(0,0,0,.6)!important;
    box-shadow:none!important
}
.ui-modal-footer{
    background:rgba(0,0,0,.3)!important;
    box-shadow:none!important
}
.ui-button.red.link:not(:disabled):active .ui-button-contents,.ui-button.red.link:not(:disabled):hover .ui-button-contents{
    background-image:none
}
.ui-button-group-item{
    border-color:transparent!important;
    border-radius:3px!important
}
.ui-button-group-item + .ui-button-group-item{
    margin-left:3px
}
.ui-permission-override-box:hover{
    background-color:hsla(0,0%,50%,.1)!important
}
.ui-permission-override-box.deny.selected{
    background-color:rgba(152,41,41,.7)!important
}
.ui-permission-override-box.allow.selected{
    background-color:rgba(67,181,129,.7)!important
}
.ui-permission-override-box.passthrough .override-item{
    opacity:.7
}
.ui-permission-override-box.passthrough.selected{
    background-color:hsla(0,0%,50%,.3)!important
}
._3Mv0RaJ0{
    background:var(--main-color);
    color:#fff;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
._3Mv0RaJ0:hover{
    background:var(--hover-color)
}
.user-settings-security button{
    color:#fff
}
.bda-slist li{
    min-height:136px;
    max-height:136px
}
.ui-standard-sidebar-view .bda-slist .bda-right button{
    background-color:var(--main-color);
    border-radius:3px;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.ui-standard-sidebar-view .bda-slist .bda-right button:hover{
    background-color:var(--hover-color)
}
#bd-settingspane-container .ui-switch-item{
    padding:10px 20px;
    margin-bottom:5px;
    background:rgba(0,0,0,.3);
    border-radius:5px
}
#bd-settingspane-container .ui-switch-item .ui-flex{
    position:relative
}
#bd-settingspane-container .ui-switch-item .ui-flex .ui-switch-wrapper{
    position:absolute;
    top:50%;
    margin-top:5px;
    right:0
}
.bda-slist .bda-right{
    margin-top:5px
}
.bda-slist .bda-name{
    max-height:none;
    overflow:visible;
    font-size:14px;
    line-height:14px
}
.ui-standard-sidebar-view .bda-slist .bda-description{
    border-color:hsla(0,0%,100%,.1)!important
}
.CodeMirror{
    background-color:rgba(0,0,0,0.3)!important
}
.CodeMirror-scroll{
    background-color:rgba(0,0,0,0.3)!important
}
#bd-customcss-detach-container{
    background:-webkit-linear-gradient(left,rgba(0,0,0,.7),rgba(0,0,0,.5));
    background:linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,.5))
}
.CodeMirror-gutters{
    border-right:none;
    background-color:rgba(0,0,0,.5);
    height:100%!important
}
.cm-s-material.CodeMirror,#bd-customcss-detach-container .cm-s-material.CodeMirror{
    background:rgba(0,0,0,.1)!important
}
.content-region .cm-s-material .CodeMirror-gutters,#bd-customcss-detach-container .cm-s-material .CodeMirror-gutters{
    background:rgba(0,0,0,.3)!important
}
.cm-s-material .CodeMirror-linenumber{
    color:hsla(0,0%,100%,.7)!important
}
.content-region #bd-customcss-attach-controls,#bd-customcss-detach-container #bd-customcss-attach-controls{
    background:rgba(0,0,0,.6);
    box-shadow:inset 0 1px 0 0 hsla(0,0%,100%,.1)
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button,.bd-detached-css-editor #bd-customcss-attach-controls button{
    height:30px;
    margin-right:3px;
    background-color:var(--main-color);
    border:none!important;
    border-radius:3px!important;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover,.bd-detached-css-editor #bd-customcss-attach-controls button:hover{
    background-color:var(--hover-color)
}
.ui-standard-sidebar-view #editor-detached h3{
    color:hsla(0,0%,100%,.7)
}
.ui-standard-sidebar-view #editor-detached button{
    background-color:var(--main-color)!important;
    border-radius:3px;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.ui-standard-sidebar-view #editor-detached button:hover{
    background-color:var(--hover-color)!important
}
.content-region .CodeMirror-simplescroll-vertical div,.content-region .CodeMirror-simplescroll-horizontal div,#bd-customcss-detach-container .CodeMirror-simplescroll-vertical div,#bd-customcss-detach-container .CodeMirror-simplescroll-horizontal div{
    background:var(--main-color)!important
}
.content-region .CodeMirror-simplescroll-vertical div:active,.content-region .CodeMirror-simplescroll-horizontal div:active,#bd-customcss-detach-container .CodeMirror-simplescroll-vertical div:active,#bd-customcss-detach-container .CodeMirror-simplescroll-horizontal div:active{
    background:var(--hover-color)!important
}
.ui-standard-sidebar-view .sidebar-region [class*="scroller-"]{
    margin:30px 0;
    -webkit-mask-image:-webkit-linear-gradient(top,transparent 0%,rgba(0,0,0,1) 5%,rgba(0,0,0,1) 95%,transparent 100%)
}
.ui-standard-sidebar-view .sidebar-region [class*="scroller-"]::-webkit-scrollbar{
    display:none
}
.ui-standard-sidebar-view .sidebar-region .sidebar{
    height:100%;
    padding:0 6px 0 20px
}
.ui-standard-sidebar-view .sidebar-region [class*="side-"]{
    padding:30px 0
}
.tab-bar.SIDE .tab-bar-item,.ui-tab-bar.SIDE .ui-tab-bar-item,.ui-standard-sidebar-view .ui-tab-bar.SIDE .ui-tab-bar-item::after{
    -webkit-transition:color .3s ease-in-out,opacity .3s ease-in-out;
    transition:color .3s ease-in-out,opacity .3s ease-in-out
}
.ui-standard-sidebar-view .sidebar-region-scroller [class*="item"]{
    padding:8px 0 8px 20px;
    margin:0;
    cursor:pointer!important
}
.ui-tab-bar.SIDE .ui-tab-bar-item{
    color:hsla(0,0%,100%,.7)
}
.ui-tab-bar.SIDE .ui-tab-bar-item.selected,.ui-tab-bar.SIDE .ui-tab-bar-item:active{
    background:var(--main-color);
    color:#fff
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"],#bd-settings-sidebar .ui-tab-bar-item{
    color:hsla(0,0%,100%,.3)!important;
    -webkit-transition:all .15s ease-in-out;
    transition:all .15s ease-in-out
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:hover,#bd-settings-sidebar .ui-tab-bar-item:hover{
    color:hsla(0,0%,100%,.7)!important
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"][class*="selected-"],#bd-settings-sidebar .ui-tab-bar-item.selected{
    background-color:var(--main-color);
    color:#fff!important
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"],#bd-settings-sidebar .ui-tab-bar-item{
    padding-left:50px
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar [class*="item"][class*="Brand"]:not([class*="selected-"]):hover{
    background-color:var(--hover-color)
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar [class*="itemDanger"]:hover{
    background-color:#a93d3d
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]::after,#bd-settings-sidebar .ui-tab-bar-item::after{
    content:"";
    position:absolute;
    width:24px;
    height:24px;
    left:15px;
    margin-top:-2px;
    opacity:.3;
    -webkit-transition:all .15s ease-in-out;
    transition:all .15s ease-in-out
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:hover::after{
    opacity:.7
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"][class*="selected-"]::after,#bd-settings-sidebar .ui-tab-bar-item.selected::after{
    opacity:1
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(2)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/person.svg)
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(3)::after,[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(9)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/security.svg)
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(4)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/apps.svg)
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(5)::after,[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(6)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/link.svg)
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"][class*="Brand"]::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/speed.svg)
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(10)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/mic.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(11)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/desktop_windows.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(12)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(11)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/notifications.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(13)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(12)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/keyboard.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(14)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(13)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/games.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(15)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(14)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/chat.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(16)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(15)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/camera.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(17)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(16)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/videocam.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(18)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(17)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/language.svg)
}
.platform-win [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(21)::after,.platform-osx [layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="item"]:nth-child(20)::after,[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(4)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/history.svg)
}
[layer-id="user-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar > * > [class*="itemDanger"]::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/exit.svg)
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(2)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/info.svg)
}
[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(3)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/message.svg)
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(3)::after,[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(5)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/assignment.svg)
}
[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(7)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/emote.svg)
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(5)::after,[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(8)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/webhook.svg)
}
[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(12)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/group.svg)
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(4)::after,[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(13)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/share.svg)
}
[layer-id="server-settings"] .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:nth-child(14)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/block.svg)
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller [class*="item"]:last-child::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/delete.svg)
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(3)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/betterdiscord.svg)
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(4)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/emote.svg)
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(5)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/code.svg)
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(6)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/puzzle.svg)
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(7)::after{
    background:url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/palette.svg)
}
.ui-sidebar .ui-tab-bar.SIDE .ui-tab-bar-item{
    border-radius:3px
}
.ui-sidebar .ui-tab-bar.SIDE .ui-tab-bar-item.selected,.bd-blue .ui-sidebar .ui-tab-bar.SIDE .ui-tab-bar-item.selected{
    background:var(--main-color)
}
.social-links-link{
    opacity:.3;
    -webkit-transition:all .3s ease-in-out!important;
    transition:all .3s ease-in-out!important
}
.social-links-link:hover{
    opacity:.7
}
.social-links-link .ui-icon-fg{
    fill:#fff!important
}
.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-connections-list{
    box-shadow:0 -1px hsla(0,0%,100%,.04)
}
.connection .checkbox .checkbox-inner{
    background-color:transparent
}
.connection .checkbox .checkbox-inner input[type=checkbox] + span{
    background-color:rgba(0,0,0,0.3)!important;
    width:35px
}
.connection .checkbox .checkbox-inner input[type=checkbox]:checked + span{
    width:0;
    margin-left:35px
}
.connection .checkbox .checkbox-inner input[type=checkbox]:checked + span::after{
    margin-left:-20px!important
}
.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-header .btn-delete{
    transition:all .1s ease-in-out;
    mix-blend-mode:screen
}
.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-header .btn-delete:hover{
    color:#000;
    background:#fff
}
.chat > .content:first-child .scroller-wrap::-webkit-scrollbar-thumb,.theme-dark .chat > .content:first-child .scroller-wrap::-webkit-scrollbar-thumb{
    background-color:var(--main-color)
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb,.search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb,.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb{
    background-color:var(--main-color)!important;
    border:3px solid transparent!important
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb:active,.search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb:active,.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb:active{
    background-color:var(--hover-color)!important
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece,.search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-track-piece,.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-track-piece{
    border:3px solid transparent!important;
    background-color:rgba(0,0,0,0.3)!important
}
::-webkit-scrollbar{
    width:10px;
    height:10px
}
::-webkit-scrollbar-thumb{
    background-color:var(--main-color)!important;
    border-radius:10px
}
::-webkit-scrollbar-thumb:active{
    background-color:var(--hover-color)!important
}
::-webkit-scrollbar-track{
    background:transparent
}
::-webkit-scrollbar-corner{
    background:transparent
}
[class*="scrollerThemed-"] [class*="scroller-"]::-webkit-scrollbar{
    width:14px!important
}
[class*="scrollerThemed-"] [class*="scroller-"]::-webkit-scrollbar-track-piece{
    background:rgba(0,0,0,.3)!important;
    background-clip:padding-box!important
}
[class*="scrollerThemed-"] [class*="scroller-"]:not(:hover)::-webkit-scrollbar-track-piece{
    visibility:hidden!important
}
[class*="scrollerThemed-"] [class*="scroller-"]::-webkit-scrollbar-track-piece,[class*="scrollerThemed-"] [class*="scroller-"]::-webkit-scrollbar-thumb{
    border:3px solid transparent!important;
    border-radius:7px!important
}
.keyboard-shortcuts-modal .scroller::-webkit-scrollbar,#user-profile-modal .scroller::-webkit-scrollbar{
    width:14px;
    height:14px
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb,.emoji-picker .scroller::-webkit-scrollbar-thumb{
    background-color:var(--main-color)!important;
    border-radius:10px!important;
    border-color:transparent!important
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb:active,.emoji-picker .scroller::-webkit-scrollbar-thumb:active{
    background-color:var(--hover-color)!important
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar,.emoji-picker .scroller::-webkit-scrollbar{
    background:transparent!important;
    border:none!important
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,.emoji-picker .scroller::-webkit-scrollbar-track{
    background:transparent!important;
    border:none!important
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,.emoji-picker .scroller::-webkit-scrollbar-track-piece{
    background:transparent!important;
    border:none!important
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-corner,.emoji-picker .scroller::-webkit-scrollbar-corner{
    background:transparent!important
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar,.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track,.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,.bda-dark #pubs-container .scroller::-webkit-scrollbar,.bda-dark #pubs-container .scroller::-webkit-scrollbar-track,.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,#bda-qem-twitch-container .scroller::-webkit-scrollbar,#bda-qem-twitch-container .scroller::-webkit-scrollbar-track,#bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,#pubs-container .scroller::-webkit-scrollbar,#pubs-container .scroller::-webkit-scrollbar-track,#pubs-container .scroller::-webkit-scrollbar-track-piece{
    background-color:transparent!important;
    border:none!important
}
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb,.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb,.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb,#bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb,#bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,#pubs-container .scroller::-webkit-scrollbar-thumb,.emoji-picker .scroller::-webkit-scrollbar-thumb{
    background-color:var(--main-color)!important;
    border-color:transparent!important
}
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb:active,.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb:active,.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb:active,.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb:active,#bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb:active,#bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb:active,#pubs-container .scroller::-webkit-scrollbar-thumb:active,.emoji-picker .scroller::-webkit-scrollbar-thumb:active{
    background-color:var(--hover-color)!important
}
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar,.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track,.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,#bda-qem-favourite-container .scroller::-webkit-scrollbar,#bda-qem-favourite-container .scroller::-webkit-scrollbar-track,#bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece{
    background-color:transparent!important;
    border:none!important
}
.bda-dark #pubs-container .scroller::-webkit-scrollbar,#pubs-container .scroller::-webkit-scrollbar{
    background-color:rgba(0,0,0,.8)!important
}
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb,#pubs-container .scroller::-webkit-scrollbar-thumb{
    border-radius:10px!important
}
.bda-dark .bd-dropdown .bd-dropdown-list ul::-webkit-scrollbar,.bd-dropdown .bd-dropdown-list ul::-webkit-scrollbar,.server-description::-webkit-scrollbar{
    width:14px
}
.bda-dark .bd-dropdown .bd-dropdown-list ul::-webkit-scrollbar-track,.bd-dropdown .bd-dropdown-list ul::-webkit-scrollbar-track,.server-description::-webkit-scrollbar-track{
    background-color:rgba(0,0,0,.5)!important
}
.bda-dark .bd-dropdown .bd-dropdown-list ul::-webkit-scrollbar-thumb,.bd-dropdown .bd-dropdown-list ul::-webkit-scrollbar-thumb,.server-description::-webkit-scrollbar-thumb{
    background-clip:padding-box;
    border:3px solid transparent!important
}
#pubs-list .server-info.server-name .server-description::-webkit-scrollbar-track{
    background:transparent!important
}
.bda-slist .scroller::-webkit-scrollbar-thumb,.bda-slist .scroller::-webkit-scrollbar-track-piece{
    border-radius:7px!important
}
.channel-textarea .channel-textarea-inner textarea::-webkit-scrollbar{
    display:none
}
.ui-scroller-wrap.ui-scroller-track > .scroller::-webkit-scrollbar-track{
    background-color:rgba(0,0,0,0.3)!important
}
#user-profile-modal .scroller{
    background:rgba(0,0,0,0.83)
}
#user-profile-modal .friends .friend:hover{
    background:#26292D;
    color:#ADADAD
}
#user-profile-modal footer{
    background:rgba(0,0,0,0.83);
    border-top:none
}
#user-profile-modal footer button{
    color:var(--main-color)
}
#user-profile-modal .sub-header{
    background:rgba(0,0,0,0.83)
}
#user-profile-modal .tab-bar-container{
    background:rgba(0,0,0,0.83);
    border-bottom:1px solid rgba(0,0,0,0.4)
}
#user-profile-modal .btn{
    background-color:var(--main-color)
}
#user-profile-modal .btn:hover{
    background-color:var(--hover-color)
}
#user-profile-modal .guilds .guild:hover{
    background:linear-gradient(90deg,rgba(0,0,0,0.61) 90%,transparent);
    color:#D8D8D8
}
#user-profile-modal .empty{
    background:rgba(0,0,0,0.83)
}
#user-profile-modal .avatar-wrapper{
    background-color:transparent
}
#user-profile-modal .avatar-profile{
    border:6px solid var(--main-color)!important
}
#user-profile-modal .actions .btn.add-friend,#user-profile-modal .actions .btn.reject-friend{
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
@-webkit-keyframes friend-request-pulse{
    0%{
        -webkit-box-shadow:0 0 0 0 var(--main-color);
        box-shadow:0 0 0 0 var(--main-color)
    }
    70%{
        -webkit-box-shadow:0 0 10px 10px transparent;
        box-shadow:0 0 10px 10px transparent
    }
    to{
        -webkit-box-shadow:0 0 0 0 transparent;
        box-shadow:0 0 0 0 transparent
    }
}
@keyframes friend-request-pulse{
    0%{
        -webkit-box-shadow:0 0 0 0 var(--main-color);
        box-shadow:0 0 0 0 var(--main-color)
    }
    70%{
        -webkit-box-shadow:0 0 10px 10px transparent;
        box-shadow:0 0 10px 10px transparent
    }
    to{
        -webkit-box-shadow:0 0 0 0 transparent;
        box-shadow:0 0 0 0 transparent
    }
}
